<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>com.thinkbox.lmgrd</string>
	<key>ProgramArguments</key>
		<array>
			<string>/Applications/Thinkbox/LicenseServer/lmgrd</string>
			<string>-z</string>
			<string>-c</string>
			<string>/Applications/Thinkbox/LicenseServer/Thinkbox_license.lic</string>
			<string>-l</string>
			<string>/Applications/Thinkbox/LicenseServer/Thinkbox.log</string>
		</array>
	<key>RunAtLoad</key>
		<true/>
	<key>UserName</key>
		<string>daemon</string>
	<key>GroupName</key>
		<string>daemon</string>
	<key>StandardOutPath</key>
		<string>/Applications/Thinkbox/LicenseServer/Thinkbox.log</string>
	<key>StandardErrorPath</key>
		<string>/Applications/Thinkbox/LicenseServer/Thinkbox.log</string>
	<key>KeepAlive</key>
		<true/>
</dict>
</plist>
